
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

$main-color: #223647;
$other-color: #72C064;
$font-color: #fcba03;

$main-font: "Roboto Slab", serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box; 
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: $main-font;
    font-size: 13px;
    line-height: 1; 
}

.container {
    display: flex;
    width: 100%; 
    padding: 0 10px 0 10px;
    max-width: 1140px;
    margin: 0 auto;
}

section {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul {
    list-style-type: none;
    padding: 0; 
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 0 0 0 10px; }
        a:hover {
            color: $other-color;
            transition: .5s; 
}

/* Navigation */

.navigation {
    background-image: url('https://images.pexels.com/photos/7299584/pexels-photo-7299584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}


.navigation .nav {
    background: $main-color;
    color: white;
    min-height: 60px;
    box-shadow: 0 20px 15px black;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
}

.nav, .nav__ul, .nav__search, .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.nav__ul {
    justify-content: space-around; 
}

.nav__logo {
    flex-grow: 2; 
    color: $other-color;
}

.nav__ul {
    flex-grow: 3; 
}

.nav__search {
    flex-grow: 1; 
}
  
/* Header */

.header {
    border: 1px solid black;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.header__text {
    padding-left: 5px;
    font-size: 20px;
}

.header__text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.header__text-header h1 {
    color: $other-color;
}

.header__button {
    border: 1px solid white;
    background: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    width: 200px;
    margin-top: 40px;
    &:hover {
        background: $other-color;
        transition: .6s;
        cursor: pointer;
    }
}

/* Menu burger */

@media (min-width: 465px) {
    .burger {
        display: none;
    }
}

@media (max-width: 465px) {
.nav__ul li {
    display: none;
}
}

.burger {
    position: fixed;
    top: 16px;
    right: 20px;
    font-size: 30px;
    line-height: 50px;
    transition: .3s linear;
    z-index: 3;
}

.burger:hover {
    cursor: pointer;
}

.aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 250px;
    background-color: #223647;
    transition: .3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside ul li  {
    padding: 20px;
    background: #293c4d;
    width: 250px;
    text-align: center;
}

.aside ul li:hover {
    background: #324352;
    cursor: pointer;
}

.fas {
    display: none;
    color: rgb(255, 255, 255);
}

i.show {
    display: block;
}

aside.show {
    left: 0;
}

@media (min-width: 465px) {
     .fas {
        display: flex;
    }
}