
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

$main-color: #223647;
$other-color: #72C064;
$font-color: #fcba03;

$main-font: "Roboto Slab", serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box; 
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: $main-font;
    font-size: 13px;
    line-height: 1; 
}

.container {
    display: flex;
    width: 100%; 
    padding: 0 10px 0 10px;
    max-width: 1140px;
    margin: 0 auto;
}

section {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h3 {
    color: $font-color;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

ul {
    list-style-type: none;
    padding: 0; 
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 0 0 0 10px; }
        a:hover {
            color: $font-color;
            transition: .5s; 
}

/* Navigation */

.navigation {
    background-image: url('https://images.pexels.com/photos/7299584/pexels-photo-7299584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.navigation .nav {
    background: $main-color;
    color: white;
    min-height: 60px;
    box-shadow: 0 20px 15px black;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
}

.nav, .nav__ul, .nav__search, .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.nav__ul {
    justify-content: space-around; 
}

.nav__logo {
    flex-grow: 2; 
    color: $other-color;
}

.nav__ul {
    flex-grow: 3; 
}

.nav__search {
    flex-grow: 1; 
}
  
/* Header */

.header {
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.header__text {
    padding-left: 5px;
    font-size: 20px;
}

.header__text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-style: italic;
}

.header__text-header h1 {
    color: $other-color;
}

.header__text-header-title {
    font-size: 40px;
    line-height: 0;
}

.header__button {
    border: 1px solid $font-color;
    background: $font-color;
    border-radius: 3px;
    color: white;
    padding: 10px;
    width: 200px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        background: $other-color;
        transition: .6s;
        cursor: pointer;
        border-color: $other-color;
    }
}

/* Services */

.services .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.services__title {
    text-align: center;
    width: 100%;
}

.services__title > h1 {
    font-size: 35px;
}

.services__title > p{
    color:#3c3f42;
    font-style: italic;
}

.services__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
}

.services__content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    min-height: 300px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

@media (max-width: 646px) {
    .services__content {
        width: 100%;
        flex-direction: column;
    }
    .services__content-inner {
        width: 100%;
    }
}

.services__content-inner-awesome {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid $font-color;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.fas.fa-trash-alt, .fas.fa-tablet-alt, .fas.fa-shield-alt {
    display: block;
    color: $font-color;
    font-size: 50px;
}

.services__content-inner-title {
    font-weight: bold;
    font-size: 14px;
}

.services__content-inner-description {
    color: #3c3f42;
}

/* Portfolio */

.portfolio {
    width: 100%;
    min-height: 700px;
}

.portfolio .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.portfolio__title {
    text-align: center;
    width: 100%;
    margin-bottom: 45px;
}

.portfolio__title > h1 {
    font-size: 35px;
}

.portfolio__title > p{
    color:#3c3f42;
    font-style: italic;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.portfolio__content-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
}

@media (max-width: 1013px) {
    .portfolio__content-top {
        flex-direction: column;
    }
}

.portfolio__content-top-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 33.3%;
    margin-bottom: 35px;
}

@media (max-width: 1013px) {
    .portfolio__content-top-inner {
        width: 100%;
        margin-bottom: 25px;
    }
}

.portfolio__content-top-inner-img img {
    object-fit: cover;
    width: 320px;
    height: 320px;
    margin-bottom: 10px;
}

@media (max-width: 1013px) {
    .portfolio__content-top-inner-img img {
        max-width: 400px;
        max-height: 400px;
    }
}

.portfolio__content-top-inner > :nth-child(2) {
    font-size: 17px;
    font-weight: bold;
    line-height: 0;
}

.portfolio__content-top-inner > :nth-child(3) {
    font-size: 13px;
    line-height: 0;
    color: #3c3f42;
    margin-top: 0;
    font-style: italic;
}



/* Menu burger */

@media (min-width: 465px) {
    .burger {
        display: none;
    }
}

@media (max-width: 465px) {
.nav__ul li {
    display: none;
}
}

.burger {
    position: fixed;
    top: 23px;
    right: 20px;
    font-size: 30px;
    line-height: 50px;
    transition: .3s linear;
    z-index: 3;
}

.burger:hover {
    cursor: pointer;
}

.aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 250px;
    background-color: #223647;
    transition: .3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside ul li  {
    padding: 20px;
    background: #293c4d;
    width: 250px;
    text-align: center;
}

.aside ul li:hover {
    background: #324352;
    cursor: pointer;
}

.fas {
    display: none;
    color: rgb(255, 255, 255);
}

i.show {
    display: block;
}

aside.show {
    left: 0;
}

@media (min-width: 465px) {
     .fas {
        display: flex;
    }
}